* {
  box-sizing: inherit;
  font-family: 'Oswald';
  color: white;
  text-align: center;
}

body {
  background-image: url(assets/movies_background_progressive.jpg);
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

html{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2{
  color: black;
}

.movielist__item:hover{
  text-decoration: underline;
}

.search-results{
  background-color:rgba(0, 0, 0, 0.5);
  margin: 1em;
}

.header__background-box{
  display: flex;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.5);
  width: 30em;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center;
}

/*.main{
  display: flex;
  justify-content: center;
  background-color:rgba(0, 0, 0, 0.5);
  width: 40em;
  margin: 0 auto;
  margin-top: 15px;
  text-align: center
}*/

.dropdown{
  color: black;
}

.footer{
  width: 100%;
  height: 5vh;
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.main{
  text-align: center;

}

.search-results{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.movie__ul{
  list-style-type: none;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.movielist__item{
  margin: 0.5em;
  cursor:pointer;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

}


.moviecontent{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 10vh;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.4)
}


.footer__image{
    width: 100%;
    height: 100%;
}
